<h1>Login</h1>

<%= form_tag session_path do %>
	<div class="field">
	  <%= label_tag :mail %>
	  <%= text_field_tag :mail, params[(:mail)] %>
	</div>
	<div class="field">
	  <%= label_tag :password %>
	  <%= text_field_tag :password %>
	</div>
	<div class="action">
	  <%= submit_tag "Login" %>
	</div>
<% end %>