<h1>Listing user_informations</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Datenaissance</th>
    <th>Lieu</th>
    <th>Siteinternet</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_informations.each do |user_information| %>
  <tr>
    <td><%= user_information.photo %></td>
    <td><%= user_information.datenaissance %></td>
    <td><%= user_information.lieu %></td>
    <td><%= user_information.siteinternet %></td>
    <td><%= user_information.user %></td>
    <td><%= link_to 'Show', user_information %></td>
    <td><%= link_to 'Edit', edit_user_information_path(user_information) %></td>
    <td><%= link_to 'Destroy', user_information, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User information', new_user_information_path %>
